body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--colour-0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --header-height: 60px;
  --colour-0: rgb(255, 255, 255);
  --colour-1: rgb(250, 250, 250);
  --colour-2: rgb(240, 240, 240);
  --colour-3: rgb(200, 200, 200);
  --colour-4: rgb(160, 160, 160);
  --colour-5: rgb(40, 40, 40);
  --colour-6: rgb(0, 0, 0);
  --switch-colour: rgb(140, 140, 140);
  /* --colour-0: rgb(241, 246, 255);
  --colour-1: rgb(233, 242, 255);
  --colour-2: rgb(209, 225, 249);
  --colour-3: rgb(155, 179, 214);
  --colour-4: rgb(127, 154, 195);
  --colour-5: rgb(36, 62, 101);
  --switch-colour: rgb(127, 154, 195); */
}

[colour-theme="dark"] {
  --colour-0: rgb(10, 10, 10); /* For index.html safe area default colour: #181A21 */
  --colour-1: rgb(20, 20, 20);
  --colour-2: rgb(40, 40, 40);
  --colour-3: rgb(80, 80, 80);
  --colour-4: rgb(120, 120, 120);
  --colour-5: rgb(230, 230, 230);
  --colour-6: rgb(255, 255, 255);
  --switch-colour: rgb(45, 193, 136);
}
